<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Daily Lunch Menus{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="rotating-logo">
        <img src="{{ url_for('static', filename='image/hpe_logo_1.png') }}" alt="HPE Logo" />
    </div>
    <header>
        <h1>Current meal plan</h1>
        <p class="date-display">{{ current_date }}</p>
        <p>Automatically scraped menus from your favorite local restaurants.</p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>All rights reserved. © 2025 Version 2.4 - 13.08.2025</p>
        <p>Disclaimer: Despite careful content control, we assume no liability for the content of external links or for the accuracy, completeness and timeliness of the information provided.</p>
        <p>→ Powered by Mira & Jochen ←</p>
    </footer>
    
    <!-- Socket.IO client library -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <!-- Our custom JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
